$RECYCLE.BIN/

whitelist.json
usercache.json
startserver-gui.bat
server.properties
server.jar
ops.json
eula.txt
banned-players.json
banned-ips.json

world/
versions/
logs/
libraries/
crash-reports/
backups/

test.*